/* default */
body { 
    background-color: #ffd7f1;
    font-family: 'prata' , 'serif';
    overflow-x: hidden;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.menu-nav a:hover{
    text-decoration:underline;
    opacity: 50%;
}
.menu-nav {
    display:flex;
    background-color: rgb(251, 251, 124);
    width: 98%;
    height: 50px;
    margin: 5px auto;
}
.menu-nav ul {
    margin: auto 0;
    display:flex;
    justify-content:space-around;
    width:100%;
}

.footer {
    background-color: rgb(251, 251, 124);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-rrss {
    display:flex;
    flex-wrap:wrap;
    margin-top: 15px;
    width: 100%;
    justify-content: space-around;
}

.footer-rrss img{
    height: 25px;
    width: 25px;
}

/* home */
*{
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 5em; 
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    text-align: center;
}

.carrusel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.carrusel img {
    height: 650px;
    width: 650px;
    margin: 20px; 
}

.best-seller {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.best-seller img {
    height: 350px;
    width: 350px;
    margin: 20px;
    transition: all 0.5s; 
}

.best-seller img:hover{
    transform:scale(1.030);
}


/* productos */

.products {
    font-family: 'Parisienne', cursive;
    display:flex;
    justify-content: space-around;
    width:100%;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(3, 1fr);
    margin-bottom:30px;
}
.product-container img{
    height: 350px;
    width: 350px;
    margin:0 auto;
    padding: 25px;
    transition: all 0.5s;
}

.product-container div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container img:hover{
    transform:scale(1.030);
}

/* signin */

.form {
    display: flex;
    justify-content: center;
    size: 3em;
    margin-bottom: 190px;
    margin-top: 100px;
}

/* contact me */

.location {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-bottom: 50px;
}
.links ul {
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    margin: 30px;
}
