/* signin */

.singin-form{
    max-width: 500px;
    min-width: 200px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 45px auto;

    .signin-input{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        row-gap: 10px;
        width: 100%;
        margin: 10px 0;

        .form-text{
            display: grid;
            grid-template-columns: 30px auto;
            column-gap: 5px;
            img{
                justify-self: flex-start;
                max-width: 25px;
                max-height: 25px;
                width: 100%;
                height: auto;
                
            }
    
            p{
                margin-bottom: 0px;
                vertical-align: middle;
                color: black;
            }
        }

        input{
            border: 1px solid #a0a0a07e;
            border-radius: 2px;
            width: 100%;
            height: 30px;
        }
    }

    button{
        width: 150px;
        padding: 5px;
        margin-top: 20px;
        border: 1px solid #a0a0a07e;
        background-color: $bg-pink;

        &:hover{
            transition: all 0.2s  ;
            opacity: 50%;
        }
    }

}
